#yes3-fmapr-export-selection {
    padding: 1em;
    background-color: var(--yes3-hi-contrast-background-color);
    border: 1px solid var(--yes3-border-color);
}

#yes3-fmapr-export-selection span.export_name {
    font-weight: var(--yes3-font-weight-semibold);
    color: var(--yes3-hi-contrast-color);
    margin-right: 1em;
}

#yes3-fmapr-export-selection span.export_label {
    font-weight: normal;
    color: var(--yes3-color);
}

#yes3-fmapr-export-selection span.export_name:hover {
    cursor: pointer;
}
/*
#yes3-fmapr-export-selection div.selected {
    background-color: var(--yes3-dashboard-row-selected-background-color);
}
*/
#yes3-fmapr-export-selection div.selected::before {
    content: "✓ ";
    color: var(--yes3-okay-color);
    font-weight: var(--yes3-font-weight-bold);
}

input#yes3-fmapr-export-button {
    display: none
}
