.yes3-fmapr-validator-inbox, .yes3-fmapr-validator-inbox-noborders {
    padding: 1em;
}

.yes3-fmapr-validator-inbox {
    background-color: var(--yes3-hi-contrast-background-color);
    border: 1px solid var(--yes3-border-color);
    border-radius: 4px;
}

.yes3-fmapr-validator-inbox-noborders {
    border: none;
    background-color: transparent;
}

span.export_name {
    font-weight: var(--yes3-font-weight-semibold);
    color: var(--yes3-hi-contrast-color);
    margin-right: 1em;
}

span.export_label {
    font-weight: normal;
    color: var(--yes3-color);
}

span.export_file_name {
    font-weight: var(--yes3-font-weight-normal);
    color: var(--yes3-hi-contrast-color);
}

span.export_name:hover {
    cursor: pointer;
}
/*
#yes3-fmapr-export-selection div.selected {
    background-color: var(--yes3-dashboard-row-selected-background-color);
}
*/
#yes3-fmapr-export-selection div.selected::before {
    /*content: "\2714\FE0E"; /* Check mark forced as text not emoji */
    content: "\2714"; /* Check mark emoji */
    margin-right: 0.5em;
    color: var(--yes3-okay-color);
    font-weight: var(--yes3-font-weight-bold);
}

input#yes3-fmapr-export-button {
    display: none
}

div#yes3-fmapr-export-upload, div#yes3-fmapr-export-validate {
    display: none;
}

#yes3-container input[type=button], 
#yes3-container input::file-selector-button {
    border-radius: 1.5em;
    height: 3em;
    width: auto !important;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: var(--yes3-button-color);
    background-color: var(--yes3-background-color);
    border-color: var(--yes3-button-border-color);
    border-style: solid;
    border-width: 1px;
}

#yes3-container input[type=button]:hover, 
#yes3-container button[type=submit]:hover, 
#yes3-container input::file-selector-button:hover {
    background-color:var(--yes3-button-color);
    border-color: var(--yes3-button-color);
    color:var(--yes3-background-color);
}

button#yes3-fmapr-export-upload-button{
    display: none
}

div#yes3-fmapr-export-validate-results-container {
    display: none;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid var(--yes3-border-color);
    margin-top: 20px;
    width: 100%;
}

div#yes3-fmapr-export-validate-results-container table {
    border-collapse: collapse;
    width: 100%;
}

div#yes3-fmapr-export-validate-results-container table thead th {
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--yes3-border-color);
    background-color: var(--yes3-background-color);
}

div#yes3-fmapr-export-validate-results-container table thead th {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

div#yes3-fmapr-export-validate-results-container table tbody td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
